body {
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
    background: #7399C6;
}

a {
  color:inherit;
}

body a,
.agile_form input[type="submit"] {
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
}

p {
    margin: 0;
    line-height: 1.8;
    font-size: 1.2em;
    color: #FFFFFF;
    letter-spacing: 1px;
}

ul,
label {
    margin: 0;
    padding: 0;
}


body a:hover,
body a:focus {
    text-decoration: none;
    outline: none;
}

span.icon {
    color: #fff;
    margin-right: 0.5em;
    font-size: 1.2em;
}

.header-left a {
    font-size: 1em;
    color: #fff;
    letter-spacing: 2px;
}

/*-- banner --*/

.icons {
  text-align: center;
  margin: 5em auto;
}

.banner-text {
    text-align: center;
    width: 63%;
    margin: 5em auto;
    padding: 2em 0;
    background: rgba(0, 0, 0, 0.16);
    outline: 6px solid rgba(255, 255, 255, 0.03);
}

.banner-text h3 {
    color: #fff;
    font-size: 6em;
    margin: 0.1em 0 0.3em;
    text-transform: capitalize;
}

.banner-text h5 {
  text-transform: capitalize;
  font-size: 3em;
  color: #fff;
  letter-spacing: 6px;
  font-weight: 300;
}

.banner-slide {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.banner-text h4 {
    text-transform: capitalize;
    font-size: 3em;
    color: #fff;
    letter-spacing: 6px;
    font-weight: 300;
}

h2.bnrtext {
    color: #fff;
    font-size: 3em;
    float: left;
    height: 50px;
    font: 300 40px/50px 'Barlow Condensed';
    width: 100px;
}

/*-- banner-text --*/

.banner-text h1 {
    font-size: 3.5em;
    line-height: 1.5em;
    display: inline-block;
    border: solid #7ecaf6;
    border-width: 4px;
    color: rgb(255, 255, 255);
    background: #567182;
    padding: 0 1em;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-text h1 a {
    color: #fff;
}


/*-- //banner --*/

.section-site {
    padding: 4em 0;
}

.main-pos {
    position: relative;
}

.container#about {
  padding-bottom: 200px;
}


/* about */

/* h3.pos-title {
    position: absolute;
    top: 44%;
    left: -2%;
    font-size: 6.5em;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1.5em;
    color: #fff;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

h3.pos-title1 {
    position: absolute;
    top: 9%;
    left: 39.5%;
    font-size: 6.5em;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1.5em;
    color: #fff;
} */

.sec-title {
    font-size: 4em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    color: #FE4071;
    text-align: center;
    font-weight: 300;
}

ul li {
    display: inline-block;
    margin: 0 9px;
    width: 18%;
}

a.cv-btn {
    color: #fff;
    border: 1px solid #8973c6;
    background: #8973c6;
    border-radius: 0;
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-size: 1em;
    margin: 4% auto 0;
    font-weight: 600;
    letter-spacing: 4px;
    display: inline-block;
    text-transform: uppercase;
}

.main-about-grid p {
    width: 70%;
    margin: 2em auto;
    color: #fe3e6e;
}


/* -- Responsive code -- */

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1440px) {
    nav ul li {
        width: 14%;
    }
    h3.pos-title1 {
        left: 38.5%;
    }
    figure.port-gird:hover figcaption.port-gird-caption-agileits_w3layouts {
        top: 100px;
    }
}

@media screen and (max-width: 1366px) {
    nav ul li {
        width: 15%;
    }
    .filtr-container {
        width: 99.9%;
    }
    h3.pos-title {
        left: -5%;
    }
    h3.pos-title1 {
        left: 38%;
    }
}

@media screen and (max-width: 1280px) {
    nav ul li a {
        padding: 10px 46px;
    }
    h3.pos-title {
        left: -8%;
    }
    h3.pos-title1 {
        left: 37%;
    }
}

@media screen and (max-width: 1080px) {
    .banner-slide {
        width: 100%;
    }
    p {
        font-size: 1.1em;
    }
    .serv-left {
        margin-left: 20em;
    }
    .services-right-w3ls {
        width: 100%;
        margin-left: 0em;
    }
    h3.pos-title1 {
        left: 34.5%;
    }
    .subscribe-form {
        width: 46%;
    }
    div#services {
        padding-bottom: 1em;
    }
    h3.pos-title {
        left: 2%;
        top: 3%;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 1050px) {
    .banner-text {
        margin: 9.9em auto;
    }
}

@media screen and (max-width: 1024px) {
    h3.pos-title1 {
        left: 33.5%;
        top: 11%;
    }
    figcaption.port-gird-caption-agileits_w3layouts h3 {
        margin-top: 22px;
    }
}

@media screen and (max-width: 991px) {
    ul.about-list li {
        width: 22%;
    }
    .banner-slide {
        width: 100%;
    }
    .header-agileinfo {
        min-height: 710px;
    }
    .main-about-grid p {
        width: 77%;
    }
    h4.aboutbtm-head {
        font-size: 2.5em;
    }
    .ab1 h5 {
        font-size: 1.3em;
    }
    .serv-left {
        margin-left: 14em;
    }
    .blog-img {
        margin: 0 auto;
        width: 93%;
    }
    .blog-sec-w3_agile.b1 {
        margin: 3em 0;
    }
    h3.pos-title1 {
        left: 32.5%;
        top: 12%;
    }
    .subscribe-form {
        width: 50%;
    }
    h1.main-title a {
        font-size: 1.7em;
        padding: 0px 5px 6px;
    }
    .banner-text {
        width: 70%;
    }
    h3.pos-title.postitle4 {
        top: 2%;
        left: 15%;
    }
    .contact-right-w3l {
        width: 66%;
    }
}

@media screen and (max-width: 900px) {
    .banner-text h3 {
        font-size: 5.5em;
    }
    .sec-title {
        font-size: 3.8em;
    }
    .main-about-grid p {
        width: 82%;
    }
    .progress-title {
        margin: 0 0 1.5em;
    }
    h3.pos-title.postitle4 {
        left: 12%;
    }
    .header-agileinfo {
        min-height: 600px;
    }
    .banner-text {
        margin: 6.9em auto;
    }
    .main-about-grid p {
        width: 90%;
    }
    h3.pos-title,
    h3.pos-title1 {
        font-size: 5.5em;
    }
    h3.pos-title1 {
        left: 30.5%;
        top: 13%;
    }
    h3.title-contact {
        font-size: 2.3em;
    }
    .subscribe-form {
        width: 55%;
    }
    h3.pos-title1 {
        left: 34%;
        top: 14%;
    }
    ul.simplefilter {
        margin: 2.5em 0;
    }
    figcaption.port-gird-caption-agileits_w3layouts h3 {
        padding: 19px 0px;
    }
}

@media screen and (max-width: 800px) {
    nav ul li {
        line-height: 50px;
    }
    .banner-text h4 {
        font-size: 2.8em;
    }
    .banner-text h3 {
        font-size: 5.3em;
    }
    nav ul li a {
        padding: 10px;
    }
    .main-about-grid p {
        margin: 1em auto;
    }
    .banner-text {
        margin: 4.9em auto;
    }
    .header-agileinfo {
        min-height: 550px;
    }
    .banner-text h4 {
        font-size: 2.5em;
    }
    .banner-text h3 {
        font-size: 5.1em;
    }
    .services-right-w3ls h5 {
        font-size: 2.2em;
    }
    h3.pos-title1 {
        left: 28.5%;
    }
    h3.pos-title,
    h3.pos-title1 {
        font-size: 5em;
    }
    .subscribe-main input[type="email"] {
        width: 75%;
    }
    .subscribe-main input[type="submit"] {
        width: 25%;
    }
    h3.pos-title1 {
        left: 33.5%;
    }
    h3.pos-title.postitle4 {
        left: 6%;
    }
    .serv-left {
        margin-left: 10em;
    }
    h4.aboutbtm-head {
        font-size: 2.3em;
    }
    figcaption.port-gird-caption-agileits_w3layouts h3 {
        margin-top: 6px;
        font-size: 1.6em;
    }
}

@media screen and (min-width: 800px) {
    .grid-flex {
        display: flex;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
    }
    .ab1 {
        -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
		-moz-box-flex: 1;         /* OLD - Firefox 19- */
		width: 20%;               /* For old syntax, otherwise collapses. */
		-webkit-flex: 1;          /* Chrome */
		-ms-flex: 1;              /* IE 10 */
		flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
	
    }
}

@media screen and (max-width: 768px) {
    nav ul li a {
        padding: 10px 8px;
    }
    .sec-title {
        font-size: 3.5em;
    }
    .section-site {
        padding: 3.5em 0;
    }
    .contact-right-w3l input[type="text"],
    .contact-right-w3l input[type="email"],
    .contact-right-w3l textarea {
        width: 100%;
    }
    .serv-left {
        margin-left: 9em;
    }
    .skills-bar {
        width: 55%;
    }
}

@media screen and (max-width: 767px) {
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle {
        background-color: #eb5273;
        color: #fff;
        margin: 0;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: transparent;
    }
    .navbar-nav {
        margin: 1em 0 0;
        background: #DFDFDF;
        text-align: center;
        padding-bottom: 1em;
    }
    .navbar {
        margin-bottom: 0;
    }
    .navbar-nav {
        margin: 1em 0 0;
        background: #DFDFDF;
        text-align: center;
        padding-bottom: 1em;
        width: 100%;
    }
    .navbar-toggle {
        color: #fff;
        font-size: 1.1em;
        text-transform: uppercase;
        background: #031f9a;
        letter-spacing: 3px;
        height: 48px;
        padding: 0.95em 1em 0;
    }
    .logo-nav {
        padding: 0.5em 0;
    }
    .navbar-toggle {
        position: relative;
        float: none;
        width: 100%;
    }
    .logo-nav-left1 ul li a {
        font-size: 1em;
    }
    navbar-default .navbar-nav .open .dropdown-menu>li>a,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>ul {
        background-color: #1da1f2;
    }
    .banner-text h3 {
        font-size: 4.8em;
    }
    .banner-text {
        margin: 2.9em auto;
    }
    .header-left,
    .header-right,
    .logo {
        float: none;
        width: 100%;
    }
    .header-left,
    .header-right {
        padding-top: 0em;
    }
    h1.main-title {
        margin: 0.3em 0;
    }
    .banner-text h3 {
        font-size: 4.5em;
    }
}

@media screen and (max-width: 736px) {
    .banner-slide {
        width: 71%;
    }
    .banner-text h3 {
        font-size: 4em;
    }
    .header-agileinfo {
        min-height: 540px;
    }
    .banner-text {
        margin: 4em auto;
    }
    ul.about-list li {
        width: 23%;
    }
    .sec-title {
        font-size: 3.3em;
    }
    .serv-left {
        margin-left: 7em;
    }
    nav ul li {
        width: 16%;
    }
    figcaption.port-gird-caption-agileits_w3layouts h3 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 667px) {
    span.span1 {
        font-size: 34px;
    }
    .banner-slide {
        width: 79%;
    }
    nav ul li {
        width: 100%;
    }
    span.span1 {
        width: 180px
    }
    ul.about-list li {
        width: 26%;
    }
    .serv-left {
        margin-left: 2em;
    }
    h3.title-contact {
        font-size: 2em;
    }
    h3.pos-title,
    h3.pos-title1 {
        font-size: 4em;
    }
    .subscribe-form {
        width: 61%;
    }
    span.span1 {
        width: 200px;
    }
    figcaption.port-gird-caption-agileits_w3layouts h3 {
        padding: 10px 0px;
    }
}

@media screen and (max-width: 640px) {
    .serv-left {
        margin-left: 0em;
    }
    l.about-list li {
        width: 27%;
    }
    ul.about-list li {
        width: 27%;
    }
    .serv-left {
        margin-left: 10em;
        width: 273px;
        height: 273px;
        padding-top: 5.5em;
    }
    .icon span.fa,
    .serv-txt span {
        font-size: 25px;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    h3.title-contact {
        font-size: 1.8em;
    }
    .filtr-item,
    .filtr-item:nth-child(4),
    .filtr-item:nth-child(8) {
        float: left;
        width: 50%;
    }
    h3.pos-title1 {
        top: 7%;
    }
    figure.port-gird:hover figcaption.port-gird-caption-agileits_w3layouts {
        top: 81%;
    }
}

@media screen and (max-width: 600px) {
    h3.pos-title,
    h3.pos-title1 {
        font-size: 3.5em;
    }
    h3.title-contact {
        font-size: 1.8em;
    }
    .skills-bar {
        width: 61%;
    }
    .serv-left {
        margin-left: 7.5em;
        width: 270px;
        height: 270px;
    }
    h1.main-title a {
        font-size: 1.5em;
    }
    .banner-text h4 {
        font-size: 2.3em;
    }
    .services-right-w3ls h5 {
        font-size: 2.1em;
    }
    .subscribe-form {
        width: 65%;
    }
    .serv-txt h5 {
        font-size: 1.8em;
    }
    ul.about-list li {
        width: 29%;
    }
    .subscribe-head h6 {
        font-size: 1.5em;
    }
    .about-btm-w3_agileits {
        padding-top: 3em;
    }
}

@media screen and (max-width: 568px) {
    nav ul li {
        line-height: 45px;
    }
    .banner-text {
        width: 74%;
        margin: 3em auto;
    }
    .banner-text h3 {
        font-size: 3.5em;
    }
    .header-agileinfo {
        min-height: 520px;
    }
    .section-site {
        padding: 3.2em 0;
    }
    a.wthree-.about-link {
        padding: 10px 16px;
    }
    .skills-bar {
        width: 66%;
    }
    .contact-right-w3l {
        width: 75%;
    }
    .subscribe-form {
        width: 70%;
    }
    .subscribe-main h5 {
        font-size: 1.3em;
    }
    .skills-bar {
        width: 71%;
    }
    .serv-left {
        margin-left: 5.3em;
    }
    .simplefilter li,
    .multifilter li,
    .sortandshuffle li {
        padding: 8px 16px;
    }
    .contact-right-w3l input[type="submit"] {
        padding: .5em 1.8em;
    }
    figcaption.port-gird-caption-agileits_w3layouts h3 {
        padding: 20px 0px;
    }
    figure.port-gird:hover figcaption.port-gird-caption-agileits_w3layouts {
        top: 68%;
    }
}

@media screen and (max-width: 480px) {
    .banner-text h4 {
        font-size: 2em;
        letter-spacing: 4px;
    }
    .banner-text {
        width: 89%;
    }
    h1.main-title a {
        font-size: 1.3em;
    }
    .header-agileinfo {
        min-height: 514px;
    }
    h3.pos-title,
    h3.pos-title1 {
        font-size: 2.5em;
    }
    h3.pos-title {
        left: 30%;
        top: 1%;
    }
    h3.pos-title {
        left: 30%;
        top: 1%;
    }
    ul.about-list li {
        width: 47%;
        margin: 0 auto;
        display: block;
    }
    a.wthree-.about-link {
        padding: 8px 16px;
        letter-spacing: 2px;
    }
    .sec-title {
        font-size: 3em;
    }
    .main-about-grid p {
        width: 95%;
    }
    .banner-text h3 {
        font-size: 3.2em;
    }
    .header-agileinfo {
        min-height: 509px;
    }
    .serv-left {
        width: 219px;
        height: 219px;
        padding-top: 4em;
    }
    .icon span.fa,
    .serv-txt span {
        font-size: 22px;
        width: 48px;
        height: 48px;
        line-height: 47px;
    }
    .services-right-w3ls h5 {
        font-size: 1.9em;
    }
    .skills-bar {
        width: 78%;
        margin: 3em auto 0;
    }
    .progress {
        margin-bottom: 20px;
    }
    .simplefilter li,
    .multifilter li,
    .sortandshuffle li {
        padding: 6px 7px;
        font-size: 13.5px;
    }
    h3.title-contact {
        font-size: 1.6em;
    }
    .subscribe-form {
        width: 81%;
    }
    .filtr-item,
    .filtr-item,
    .filtr-item:nth-child(4),
    .filtr-item:nth-child(8) {
        float: none;
        width: 100%;
    }
    .footer-main h4 {
        font-size: 2.5em;
    }
    h3.pos-title1 {
        top: 2.8%;
    }
    figure.port-gird:hover figcaption.port-gird-caption-agileits_w3layouts {
        top: 81%;
    }
}

@media screen and (max-width: 414px) {
    .banner-slide {
        width: 93%;
    }
    .banner-text h3 {
        font-size: 3.1em;
    }
    span.span1 {
        font-size: 32px;
    }
    .header-agileinfo {
        min-height: 506px;
    }
    .icon span.fa,
    .serv-txt span {
        font-size: 19px;
        width: 44px;
        height: 44px;
        line-height: 44px;
    }
    .serv-left {
        width: 180px;
        height: 180px;
        padding-top: 3.5em;
    }
    .serv-txt h5 {
        font-size: 1.5em;
    }
    .services-right-w3ls {
        margin-top: 2em;
    }
    .simplefilter li,
    .multifilter li,
    .sortandshuffle li {
        margin: 0 8px;
    }
    .sec-title {
        font-size: 2.5em;
    }
    .contact-right-w3l {
        width: 86%;
    }
    .subscribe-form {
        width: 92%;
    }
    .subscribe-main h5 {
        padding: 0 1em;
    }
    figure.port-gird:hover figcaption.port-gird-caption-agileits_w3layouts {
        top: 78%;
    }
}

@media screen and (max-width: 384px) {
    .banner-text h3 {
        font-size: 2.8em;
    }
    h2.bnrtext {
        font-size: 2.5em;
    }
    span.span1 {
        font-size: 28px;
        width: 162px;
    }
    .header-agileinfo {
        min-height: 495px;
    }
    .main-about-grid p {
        width: 100%;
    }
    .serv-left {
        margin-left: 3em;
    }
    h4.aboutbtm-head {
        font-size: 2.1em;
    }
    .services-right-w3ls {
        padding: 2em 1em;
    }
    .simplefilter li,
    .multifilter li,
    .sortandshuffle li {
        margin: 8px auto;
        display: block;
        width: 94%;
    }
    .subscribe-form {
        width: 100%;
    }
    .footer-main p {
        padding: 0 1em;
    }
    h3.title-contact {
        font-size: 1.5em;
    }
    .subscribe-head h6 {
        font-size: 1.4em;
    }
    .section-site {
        padding: 1em 0 3em;
    }
    h3.pos-title1 {
        top: 1.8%;
    }
    h3.pos-title {
        left: -9%;
        top: 15%;
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    h3.pos-title,
    h3.pos-title1 {
        font-size: 2.1em;
    }
    .sec-title {
        font-size: 2.2em;
    }
}

@media screen and (max-width: 375px) {
    .navbar-toggle {
        height: 40px;
        padding: 0.5em 1em 0;
    }
    .serv-left {
        margin-left: 2em;
    }
    h3.title-contact {
        font-size: 1.46em;
    }
    .subscribe-main input[type="email"] {
        width: 70%;
    }
    .subscribe-main input[type="submit"] {
        width: 30%;
    }
    .services-right-w3ls h5 {
        font-size: 1.7em;
    }
    figure.port-gird:hover figcaption.port-gird-caption-agileits_w3layouts {
        top: 76%;
    }
    .subscribe-head h6 {
        font-size: 1.2em;
    }
    .footer-main h4 {
        font-size: 2.3em;
    }
    .header-bottom {
        padding: 2em 0 0;
    }
    .header-agileinfo {
        min-height: 470px;
    }
}

@media screen and (max-width: 320px) {
    h1.main-title a {
        font-size: 1.2em;
    }
    .banner-text h4 {
        font-size: 1.8em;
        letter-spacing: 2px;
    }
    h2.bnrtext {
        font-size: 2.3em;
    }
    .banner-text {
        width: 100%;
        margin: 2em 0;
    }
    span.span1 {
        font-size: 24px;
        width: 140px;
    }
    .header-agileinfo {
        min-height: 400px;
    }
    .banner-text h3 {
        font-size: 2.5em;
    }
    .section-site {
        padding: 2.5em 0;
    }
    .icon span.fa,
    .serv-txt span {
        font-size: 17px;
        width: 39px;
        height: 39px;
        line-height: 35px;
    }
    .simplefilter li,
    .multifilter li,
    .sortandshuffle li {
        width: 93%;
    }
    .serv-left {
        width: 153px;
        height: 153px;
        margin-left: 28px;
        padding-top: 2.5em;
    }
    .blog-sec-w3_agile.b1,
    .b3,
    .blog-sec-w3_agile {
        padding: 0;
    }
    ul.simplefilter {
        margin: 1em 0 2em;
    }
    .contact-right-w3l {
        width: 92%;
    }
    .footer-main h4 {
        font-size: 2.2em;
    }
    .subscribe-head h6 {
        font-size: 1.2em;
    }
    div#about {
        padding-top: 0;
    }
    h3.title-contact {
        font-size: 1.35em;
        line-height: 1.5;
    }
    .icon-grid3 {
        left: 74%;
    }
    .banner-text {
        margin: 1em auto;
    }
}


/* -- //Responsive code -- */